{% extends "layout.html" %}

{% block title %}{{ party.title }}{% endblock %}

{% block content %}
<article>
  <h2 class="partytitle">{{ party.title }}</h2>
  {{ party.description }}
  <form action="{% url 'party_delete' party.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
  </form>
  <form action="{% url 'party_update' party.id %}" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Update">
  </form>


  <section>
    <h4 class="partytitle list">The performing clowns:</h4>
    {% for clown in party.clown_set.all %}
      <h5>{{ clown.name }}</h5>
      {{ clown.description }}
    {% endfor %}
  </section>
</article>
{% endblock %}
